.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #353D3D;
    z-index: 1;
}

.search {
    position: absolute;
    left: 75%;
    right: 2.78%;
    top: 20%;
    bottom: 20%;
    width: 320px;
    height: 60px;
    border: 1px solid #363C3C;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
    font-family: Source Serif Pro, serif;
}

.logo {
    position: absolute;
    width: 52.43px;
    height: 52.43px;
    top: 24px;
    left: 30px;
}