.sidebar {
  position: fixed;
  width: 320px;
  height: 100%;
  top: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #d6d8d8;
  z-index: 1;
}

.random-color {
  display: block;
  margin: 1em;
  width: 280px;
  height: 60px;
  border: 1px solid #363c3c;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Source Serif Pro, serif;
  font-weight: 600;
  font-size: 1.5em;
}

.color-list {
  list-style-type: none;
  color: #363c3c;
  font-family: Source Serif Pro, serif;
  font-size: 2em;
  line-height: 1em;
  padding-left: 1em;
}

.color-list li {
  padding-bottom: 1em;
}

.color-list li span {
  cursor: pointer;
}
